<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<!--/*@thymesVar id="idea" type="julianCH.models.Idea"*/-->
<form th:action="@{/postIdea}"
      th:object="${idea}" method="POST">
    Id:
    <input type="text" th:field="${idea.id}" />
    <br/>
    Name:
    <input type="text" th:field="${idea.name}" />
    <br/>
    Content:
    <input type="text" th:field="${idea.content}" />
    <br/>
    Prio:
    <input type="text" th:field="${idea.prio}" />
    <br/>
    Name Employee:
    <input type="text" th:field="${idea.nameEmployee}" />
    <br/>
    Development(true/false):
    <input type="text" th:field="${idea.development}" />
    <br/>
    Discarded(true/false):
    Name:
    <input type="text" th:field="${idea.discarded}" />
    <br/>
    Option:
    <input type="text" th:field="${idea.option}" value="add" >
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

<a href="back">Back</a>
<br/><br/>

</body>
</html>