<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Idea List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Idea List</h1>
<a href="addIdea.html">Add Idea</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Inhalt</th>
      <th>Development</th>
      <th>Name Mitarbeiter</th>
      <th>Priorität</th>
      <th>Discarded</th>
    </tr>
    <tr th:each="idea : ${ideas}">
      <td th:utext="${idea.getName()}">...</td>
      <td th:utext="${idea.getInhalt()}">...</td>
      <td th:utext="${idea.isDev()}">...</td>
      <td th:utext="${idea.getNameMitarbeiter()}">...</td>
      <td th:utext="${idea.getPrio()}">...</td>
      <td th:utext="${idea.isDiscarded()}">...</td>
    </tr>
  </table>
</div>
<br/><br/>
<a href="deleteIdea">Delete Idea</a>
<br/><br/>
<br/><br/>
<a href="editIdea">Edit Idea</a>
<br/><br/>
<a href="discardedList">Discarded Ideas</a>
<br/><br/>
</body>
</html>