<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Test</h1>

<a th:href="@{/ideaList.html}">Idea List</a>
<br>
<br>
<a th:href="@{/addIdea.html}">Add Idea</a>

</body>

</html>